.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    max-width: 1100px;
    padding: 92px 24px 96px;
}

.header__menu {
    max-width: 400px;
    margin-right: 14px;
}

.header__menu-list {
    display: flex;
    gap: 33px;
}

.no__marker {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}

.header__menu-item {
    font-size: 18px;
    list-style: circle;
}

.header__menu-link {
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.header__menu-item_no-bullit {
    list-style: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-decoration: none;
    text-underline-position: under;
}

.header__address {
    margin-left: 158px;
}

/* Основной контент*/

.cover {
    max-width: 1100px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-origin: content-box;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    max-width: 1100px;
    padding: 165px 50px 0px;
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.aligned-text {
    letter-spacing: 32px;
    text-transform: uppercase;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
    margin-top: 8px;
}

.aligned-text_right {
    letter-spacing: 29px;
    text-align: right;
    font-size: 100px;
}

.letter-spacing-extended_letter {
    letter-spacing: 12px;
    font-size: 100px;
    font-weight: 700;
    line-height: 125%;
}

.no-letter-spacing {
    letter-spacing: initial;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 122px 50px 51px 83px;
    color: rgb(255, 255, 255);
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    position: relative;
    width: 257px;
    height: 51px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    font-size: 22px;
    background-color: inherit;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*Карточки меню*/

.lots {
    padding-top: 177px;
    max-width: 1100px;
}

.lots__heading {
    margin: 2px auto 27px 64px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 24px 30px 24px;
}

.lots__card-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 334px;
    min-height: 563px;
    justify-content: space-around;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 563px;
    color: rgb(255, 255, 255);
    padding: 48px 40px 0 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration-line: underline;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    flex-grow: 1;
}

.card__text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
    line-height: 24px;
}

.look_more {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 64px;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

/*ОБ АУКЦИОНЕ*/

.about {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 359px 1fr;
    padding: 148px 24px 0;
}

.about__logo {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    margin-top: 35px;
}

.logo__white {
    width: 148px;
    height: 114px;
}

.abouth_text_container {
    display: flex;
    flex-direction: column;
}

.about__title {
    max-width: 693px;
    padding-top: 133px;
    padding-bottom: 101px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

/*Подвал*/

.footer {
    display: flex;
    justify-content: space-between;
    margin: 178px 50px 91px;
    max-width: 1100px;
}

.address_footer {
    width: 33.3%;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__menu-list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 49px;
    align-content: center;
    width: 33.3%;
}

.footer__social-list-item {
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    text-decoration: none;
}
